@charset "ISO-8859-1";

h1{
	color:#B72304;
	font-family: Segoe UI;
	letter-spacing: 0.3em;
	word-spacing: 1.0em;
	font-size: 3em;
}

.div30{
	width: 30%;
	float:left;
	text-align: center;
	/*background-color: red;*/
}

.div20{
	width: 20%;
	float:left;
	text-align: center;
	/*background-color: red;*/
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 5px;
}

.button5:hover {
    background-color: #555555;
    color: white;
    padding: 5px;
}

.div40{
	width: 40%;
	float:left;
	text-align: center;
	/*background-color: gray;*/
}

.div100{
	width: 100%;
	float:left;
	text-align: center;
	/*background-color: gray;*/
}

.tabla{
	border: 1px black solid;
	border-collapse: collapse;
	margin: 0 auto;
}

.bordes{
	border: 1px black solid;
	border-collapse: collapse;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }